.logo
{
    text-align: center;
    background-color:rgb(255, 255, 255);
}

.body {
    margin-right: 10px;
    color:white;
    display: inline-block;
    vertical-align: top;
    font-size: 1em; /* taille absolue a eviter --> smartphone vs big ecran */
}

body {
    padding: 16px;
    background-color: rgb(0, 62, 0);
}

p{
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    text-align: center;
}