/* Body */
body {
    margin: 0;
    font-family: 'Forum', serif;  /* Définit la police de caractères du corps du document */
    background: #C66666;/* Définit la couleur de fond du corps du document */
    background: -webkit-linear-gradient(to top, #fffdc9, #EAB7B1);  /* Définit un dégradé linéaire pour les anciens navigateurs WebKit */
    background: linear-gradient(to top, #fffdc9, #EAB7B1); /* Définit un dégradé linéaire pour les navigateurs modernes */
    color: #C66666; /* Définit la couleur du texte pour le corps du document */
    line-height: 1.6; /* Définit la hauteur de ligne du texte */
    padding: 0; /*Ajoute un padding horizontal de x rem */
    animation: fade-in 2s ease-in-out; /* Applique une animation nommée 'fade-in' sur 2 secondes */
}

/* Keyframes pour l'animation 'fade-in' */
@keyframes fade-in {
    0% {
      opacity: 0; /* Commence l'animation avec une opacité de 0 */
    }
    100% {
      opacity: 1; /* Termine l'animation avec une opacité de 1 */
    }
}

/* Styles pour tous les titres h1 à h6 */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal; /* Définit le poids de la police à normal */
    /* margin-bottom: 1rem; Ajoute une marge inférieure de 1 rem */
    text-align: center; /* Centre le texte des listes */
}

/* Styles pour les listes non ordonnées */
ul {
    list-style-type: none; /* Supprime les puces des listes */
    text-align: center; /* Centre le texte des listes */
}

/* Styles pour les éléments de liste */
li {
    display: inline-block; /* Affiche les éléments de liste en ligne */
    margin-right: 120px; /* Ajoute une marge à droite de 120px */
    font-weight: 500; /* Définit le poids de la police à 500 */
    font-size: 1.1em; /* Définit la taille de la police à 1.1em */
    padding: 10px 20px; /* Ajoute un padding de 10px en haut/bas et 20px à gauche/droite */
    background-color: #ffcece; /* Définit la couleur de fond des éléments de liste */
    color: #C66666;/* Définit la couleur du texte à blanc */
    text-decoration: none; /* Supprime la décoration du texte */
    border-radius: 20px; /* Définit un rayon de bordure de 20px pour des coins arrondis */
    transition: background-color 0.3s ease; /* Ajoute une transition sur la couleur de fond */
}

/* Styles pour les éléments de liste au survol */
li:hover {
    background-color: #ffceceb1; /* Change la couleur de fond au survol */
}

/* Styles pour les éléments de liste lorsqu'ils sont cliqués */
li:active {
    transform: translateY(2px); /* Déplace l'élément légèrement vers le bas */
    box-shadow: 0 2px 0 #222; /* Ajoute une ombre pour un effet enfoncé */
}

/* Styles pour les paragraphes */
p {
    margin-bottom: 1.5rem; /* Ajoute une marge inférieure de 1.5 rem */
}

/* Styles pour les liens */
a {
    text-decoration: none; /* Supprime le soulignement des liens */
    color: inherit; /* Les liens héritent de la couleur de leur parent */
}

/* Styles pour la classe .page */
.page {
    width: 100%; /* Définit une largeur maximale de 90% */
    object-fit: contain;
}

/* Styles pour le conteneur du logo */
.logo-container {
    background: #C66666;/* Définit la couleur de fond du corps du document */
    background: -webkit-linear-gradient(to top, #EBBCB3, #ebeade);  /* Définit un dégradé linéaire pour les anciens navigateurs WebKit */
    background: linear-gradient(to top, #EBBCB3, #ebeade); /* Définit un dégradé linéaire pour les navigateurs modernes */
    /* background-color: #878E64; Définit la couleur de fond à blanc */
    display: flex; /* Utilise Flexbox pour la disposition */
    justify-content: space-between; /* Répartit l'espace entre les enfants */
    align-items: center; /* Centre les enfants verticalement */
    margin: 0 auto; /* Centre le bloc horizontalement */
    padding: 1rem 0; /* Ajoute un padding vertical de 1 rem */
}

/* Styles pour l'image du logo */
.dogo_img {
    border-radius: 85%; /* Arrondit les coins pour former un cercle */
    width: 319px;
    height: 145px;
    object-position: center 28%;
    margin-right: 10rem;
    margin-left: 10rem;
    /* width: 100%; Définit la largeur à 100% */
    object-fit: cover; /* Assure que l'image remplisse l'espace disponible sans être déformée */
    /* max-width:200px; Définit une largeur maximale de 200px */
    /* height: auto; Définit la hauteur automatiquement en fonction de la largeur */
}
/* display: flex; justify-content: space-between; align-items: center;
object-fit: cover; width: 319px; height: 145px; object-position: center 28%; */

/* Styles pour l'image du texte du logo */
.logo_img {
    width: 319px;
    height: 145px;
    position: relative;
    /* width: 100%; Définit la largeur à 100% */
    object-fit: contain; /* Assure que l'image remplisse l'espace disponible sans être déformée */
    /* height: auto; Définit la hauteur automatiquement en fonction de la largeur */
    border-radius: 50%; /* Arrondit les coins pour former un cercle */
}

/* Styles pour la section .page_container */
.page_container {
    position: relative;
    width: 100%; /* Définit la largeur à 100% */
    display: flex; /* Utilise Flexbox pour la disposition */
    flex-direction: column; /* Organise les enfants en colonne */
    align-items: center; /* Centre les enfants horizontalement */
    text-align: center; /* Centre le texte */
}

.text-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 1000px) {
    .text-overlay {
        font-size: 12px;
    }
}

.text-overlay h2{
    background-color:#f1e5e5;
    color:#C66666;
    border-radius: 10px;
}

.violette {
    padding: 0 50px;
}
/* Styles pour l'image dans .container_img */
.page_container_img {
    width: 100%; /* Définit la largeur à 100% */
    margin-bottom: 2rem; /* Ajoute une marge inférieure de 2 rem */
}

.shop_img_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: auto;
    padding-top: 1rem;
}

.shop_img_container img{
    width: 258px;
    height: 258px;
    object-fit: cover;
    object-position: 50% 50%;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.shop_img_container img:hover {
    transform: scale(1.05);
}

.gerard {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
}
  
.left-image {
    margin-right: auto;
    flex: 0 0 50vw;
    max-height: 100vh;
    overflow: hidden;
}

.left-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    border-radius: 6px;
}

.right-text{
    flex: 0 0 50vw;
    text-align: center;
    font-size: 18px;
}

.insta_video{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.insta_video video {
    width: 500px;
    height: 900px;
    margin-right: 160px;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 8px;
}

.text_container{
    justify-content: center;
    display: flex;
    margin: 3rem;
}

.text_container a {
    display: inline-block;
    /* background-color: #5A3F37; */
    color: #C66666;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #C66666;
    transition: background-color 0.3s ease;
}
  
.text_container a:hover {
    background-color: #7B6056;
}
  
/* Styles pour le pied de page */
.footer {
    width: 100%;
    background: #C66666;
    color: #fff;
    padding: 2rem 0;
}
  
/* Styles pour le contenu du pied de page */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
  
/* Styles pour les sections dans le pied de page */
.footer-section {
    flex-basis: calc(33.333% - 2rem);
}
  
/* Styles pour les champs de saisie dans le formulaire de contact */
.contact-input-message,
.contact-input-mail {
    background-color: #444;
    border: none;
    color: #fff;
    width: 98%;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.contact-input-mail{
    width: 30%;
}
  
/* Styles pour le bouton de soumission dans le formulaire de contact */
.contact-btn {
    background-color: #ffcece;
    border: none;
    color: #C66666;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
}
  
/* Styles pour les boutons et les inputs de type submit */
button, input[type="submit"] {
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}
  
/* Styles pour les boutons et les inputs de type submit au survol */
button:hover, input[type="submit"]:hover {
    background-color: #ffceceb1;
    transition: background-color 0.3s ease;
}
  
/* Styles pour la partie inférieure du pied de page */
.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    color: #ccc;
}

/* A PROPOS */
.a-propos-container {
    font-size: large;
    width: 60%;
    display: flex;
    align-items: center;
    border: 2px solid #C66666;
    margin: 5rem 10rem;
}
  
.a-propos-container img {
    width: auto;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;
}
  
.a-propos-text {
    width: 50%;
    padding: 2rem;
    margin-left: 4rem;
}
  
.a-propos-text p {
    text-align: left;
    margin: 0;
}
  
.notre-histoire {
    font-size: large;
    border: 2px solid #C66666;
    margin: 5rem 30rem;
    padding: 2rem;
}
  
.notre-histoire h2 {
    text-align: center;
    margin-bottom: 2rem;
}
  
.notre-histoire p {
    text-align: justify;
    line-height: 1.6;
}
  
/* Média query pour les écrans plus petits */
@media (max-width: 1024px) {
    .a-propos-container {
        flex-direction: column;
        width: 80%;
        margin: 5rem auto;
    }
  
    .a-propos-container img {
        width: 100%;
        height: auto;
    }
  
    .a-propos-text {
        width: 100%;
        padding: 2rem 0;
        margin-left: 0;
    }
  
    .notre-histoire {
        width: 80%;
        margin: 5rem auto;
    }
}
  
/* Média query pour les écrans encore plus petits */
@media (max-width: 768px) {
    .a-propos-container {
        width: 90%;
    }
    .notre-histoire {
        width: 90%;
    }
}
  