/* Body */
body {
    margin: 0;
    font-family: 'Forum', serif;  /* Définit la police de caractères du corps du document */
    background: #5A3F37; /* Définit la couleur de fond du corps du document */
    background: -webkit-linear-gradient(to top, #2C7744, #5A3F37);  /* Définit un dégradé linéaire pour les anciens navigateurs WebKit */
    background: linear-gradient(to top, #2C7744, #5A3F37); /* Définit un dégradé linéaire pour les navigateurs modernes */
    color: #ffffff; /* Définit la couleur du texte pour le corps du document */
    line-height: 1.6; /* Définit la hauteur de ligne du texte */
    padding: 0; /*Ajoute un padding horizontal de x rem */
    animation: fade-in 2s ease-in-out; /* Applique une animation nommée 'fade-in' sur 2 secondes */
}

/* Keyframes pour l'animation 'fade-in' */
@keyframes fade-in {
    0% {
      opacity: 0; /* Commence l'animation avec une opacité de 0 */
    }
    100% {
      opacity: 1; /* Termine l'animation avec une opacité de 1 */
    }
}

/* Styles pour tous les titres h1 à h6 */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal; /* Définit le poids de la police à normal */
    /* margin-bottom: 1rem; Ajoute une marge inférieure de 1 rem */
    text-align: center; /* Centre le texte des listes */
}

/* Styles pour les listes non ordonnées */
ul {
    list-style-type: none; /* Supprime les puces des listes */
    text-align: center; /* Centre le texte des listes */
}

/* Styles pour les éléments de liste */
li {
    display: inline-block; /* Affiche les éléments de liste en ligne */
    margin-right: 120px; /* Ajoute une marge à droite de 120px */
    font-weight: 500; /* Définit le poids de la police à 500 */
    font-size: 1.1em; /* Définit la taille de la police à 1.1em */
    padding: 10px 20px; /* Ajoute un padding de 10px en haut/bas et 20px à gauche/droite */
    background-color: #333; /* Définit la couleur de fond des éléments de liste */
    color: rgb(238, 41, 179); /* Définit la couleur du texte à blanc */
    text-decoration: none; /* Supprime la décoration du texte */
    border-radius: 20px; /* Définit un rayon de bordure de 20px pour des coins arrondis */
    transition: background-color 0.3s ease; /* Ajoute une transition sur la couleur de fond */
}

/* Styles pour les éléments de liste au survol */
li:hover {
    background-color: #555; /* Change la couleur de fond au survol */
}

/* Styles pour les éléments de liste lorsqu'ils sont cliqués */
li:active {
    transform: translateY(2px); /* Déplace l'élément légèrement vers le bas */
    box-shadow: 0 2px 0 #222; /* Ajoute une ombre pour un effet enfoncé */
}

/* Styles pour les paragraphes */
p {
    margin-bottom: 1.5rem; /* Ajoute une marge inférieure de 1.5 rem */
}

/* Styles pour les liens */
a {
    text-decoration: none; /* Supprime le soulignement des liens */
    color: inherit; /* Les liens héritent de la couleur de leur parent */
}

/* Styles pour les liens au survol */
a:hover {
    text-decoration: underline; /* Ajoute un soulignement au survol */
}

/* Styles pour les boutons et les inputs de type submit */
button, input[type="submit"] {
    background-color: #0066cc; /* Définit la couleur de fond */
    border: none; /* Supprime les bordures */
    color: #fff; /* Définit la couleur du texte à blanc */
    padding: 0.5rem 1rem; /* Ajoute un padding */
    border-radius: 0.25rem; /* Arrondit les coins */
    cursor: pointer; /* Change le curseur en pointeur */
}

/* Styles pour les boutons et les inputs de type submit au survol */
button:hover, input[type="submit"]:hover {
    background-color: #0051a3; /* Assombrit la couleur de fond au survol */
}

/* Styles pour la classe .page */
.page {
    width: 100%; /* Définit une largeur maximale de 90% */
    object-fit: contain;
}

/* Styles pour le conteneur du logo */
.logo-container {
    background-color: white; /* Définit la couleur de fond à blanc */
    display: flex; /* Utilise Flexbox pour la disposition */
    justify-content: space-between; /* Répartit l'espace entre les enfants */
    align-items: center; /* Centre les enfants verticalement */
    margin: 0 auto; /* Centre le bloc horizontalement */
    padding: 1rem 0; /* Ajoute un padding vertical de 1 rem */
}

/* Styles pour l'image du logo */
.dogo_img {
    border-radius: 85%; /* Arrondit les coins pour former un cercle */
    width: 319px;
    height: 145px;
    object-position: center 28%;
    /* width: 100%; Définit la largeur à 100% */
    object-fit: cover; /* Assure que l'image remplisse l'espace disponible sans être déformée */
    /* max-width:200px; Définit une largeur maximale de 200px */
    /* height: auto; Définit la hauteur automatiquement en fonction de la largeur */
}
/* display: flex; justify-content: space-between; align-items: center;
object-fit: cover; width: 319px; height: 145px; object-position: center 28%; */

/* Styles pour l'image du texte du logo */
.logo_img {
    width: 319px;
    height: 145px;
    position: relative;
    /* width: 100%; Définit la largeur à 100% */
    object-fit: contain; /* Assure que l'image remplisse l'espace disponible sans être déformée */
    /* height: auto; Définit la hauteur automatiquement en fonction de la largeur */
    border-radius: 50%; /* Arrondit les coins pour former un cercle */
}

/* Styles pour la section .page_container */
.page_container {
    width: 100%; /* Définit la largeur à 100% */
    display: flex; /* Utilise Flexbox pour la disposition */
    flex-direction: column; /* Organise les enfants en colonne */
    align-items: center; /* Centre les enfants horizontalement */
    text-align: center; /* Centre le texte */
}

.text-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.text-overlay h2{
    background-color:#3e3e3e;
    color:rgb(238, 41, 179);
}


/* Styles pour l'image dans .container_img */
.page_container_img {
    width: 100%; /* Définit la largeur à 100% */
    margin-bottom: 2rem; /* Ajoute une marge inférieure de 2 rem */
}

.shop_img_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding-top: 1rem;
}

.shop_img_container img{
    width: 258px;
    height: 258px;
    object-fit: cover;
    object-position: 50% 50%;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.shop_img_container img:hover {
    transform: scale(1.05);
}

.gerard {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
}
  
.left-image {
    margin-right: auto;
    flex: 0 0 50vw;
    max-height: 100vh;
    overflow: hidden;
}

.left-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
}

.right-text{
    flex: 0 0 50vw;
    text-align: center;
}

.right-text h1{
    color: rgb(238, 41, 179);
}

.insta{
    display: flex;
    align-items: center;
}

.insta video{
    /* position: absolute; */
    margin: auto;
    /* min-height: 100%; */
    /* min-width: 100%; */
    inset: -100%;
}

/* Styles pour le pied de page */
.footer {
    width: 100%; /* Définit la largeur à 100% */
    background: #232526;  /* Définit la couleur de fond */
    background: -webkit-linear-gradient(to top, #414345, #232526);  /* Définit un dégradé linéaire pour les anciens navigateurs WebKit */
    background: linear-gradient(to top, #414345, #232526); /* Définit un dégradé linéaire pour les navigateurs modernes */
    color: #fff; /* Définit la couleur du texte à blanc */
    padding: 2rem 0; /* Ajoute un padding vertical de 2 rem */
}

/* Styles pour le contenu du pied de page */
.footer-content {
    display: flex; /* Utilise Flexbox pour la disposition */
    justify-content: space-between; /* Répartit l'espace entre les enfants */
    align-items: center; /* Centre les enfants verticalement */
    flex-wrap: wrap; /* Permet aux enfants de passer à la ligne suivante si nécessaire */
}

/* Styles pour les sections dans le pied de page */
.footer-section {
    flex-basis: calc(33.333% - 2rem); /* Définit une base flexible, en soustrayant 2rem pour l'espacement */
    margin-bottom: 2rem; /* Ajoute une marge inférieure de 2 rem */
}

/* Styles pour les titres h2 dans les sections du pied de page */
.footer-section h2 {
    color: #fff; /* Définit la couleur du texte à blanc */
    margin-bottom: 1rem; /* Ajoute une marge inférieure de 1 rem */
}

/* Styles pour les paragraphes dans les sections du pied de page */
.footer-section p {
    color: #ccc; /* Définit la couleur du texte à gris clair */
    margin-bottom: 1rem; /* Ajoute une marge inférieure de 1 rem */
}

/* Styles pour les liens dans les sections du pied de page */
.footer-section a {
    color: rgb(238, 41, 179); /* Définit la couleur du texte à blanc */
    text-decoration: underline; /* Ajoute un soulignement */
}

/* Styles pour les liens dans les sections du pied de page au survol */
.footer-section a:hover {
    color: #ccc; /* Assombrit la couleur du texte au survol */
}

/* Styles pour les champs de saisie dans le formulaire de contact */
.contact-input {
    background-color: #444; /* Définit la couleur de fond */
    border: none; /* Supprime les bordures */
    color: #fff; /* Définit la couleur du texte à blanc */
    padding: 0.5rem; /* Ajoute un padding de 0.5 rem */
    width: 100%; /* Définit la largeur à 100% */
    margin-bottom: 1rem; /* Ajoute une marge inférieure de 1 rem */
}

/* Styles pour le bouton de soumission dans le formulaire de contact */
.contact-btn {
    background-color:rgb(238, 41, 179); /* Définit la couleur de fond */
    border: none; /* Supprime les bordures */
    color: #fff; /* Définit la couleur du texte à blanc */
    padding: 0.5rem 1rem; /* Ajoute un padding de 0.5 rem en haut/bas et 1 rem à gauche/droite */
    border-radius: 0.25rem; /* Arrondit les coins */
    cursor: pointer; /* Change le curseur en pointeur */
    width: auto; /* Définit la largeur automatiquement en fonction du contenu */
}

/* Styles pour la partie inférieure du pied de page */
.footer-bottom {
    text-align: center; /* Centre le texte */
    margin-top: 2rem; /* Ajoute une marge supérieure de 2 rem */
    color: #ccc; /* Définit la couleur du texte à gris clair */
}