body {
    margin-left: 1.5vw;
    margin-top: 1.4vh;
    -webkit-user-select: none;
}

#map {
    margin: 0 auto; /* Center the map horizontally */
    background-color: red;
}

#characterimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.square {
    width: 64px; /* Adjust the size of squares as needed */
    height: 64px;

    background-color: lightgray;
    float: left;
}

.square img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}