server {
    root ressources
    listen 8081
    server_name localhost
    index /cyber.html
    allow GET
    return 301 https://www.youtube.com
}

server {
    listen 8080
    server_name localhost
    root ressources
    client_max_body_size 3000000
    cgi .py ./test/py-cgi
    index /cyber.html
    autoindex off
    allow GET POST DELETE

    location /assets {
        root ressources/assets
        autoindex on
        allow GET POST PUT HEAD
    }
}
