server {
    root ressources
    listen 8081
    server_name localhost
    index /cyber.html
    allow GET
    return 301 https://wwww.google.com
}
server {
    listen 8080
    server_name localhost
    root ressources
    client_max_body_size 3000000
    index /cyber.html
    error_page 404 error_pages/404.html
    cgi .py ./test/py-cgi
    autoindex off
    allow GET POST DELETE

    location /assets {
        root ressources/assets
        autoindex on
        allow GET POST PUT HEAD
    }
}