server {
    root ressources
    listen 8081
    server_name localhost
    index /cyber.html
    allow GET
    autoindex on
    upload_path /path
    location /tmp {
        autoindex on
        root ressources/tmp
        upload_path /upload
        allow GET
        return 301 https://www.winxclubfrance.com/
    }
    location /autoindex/upload {
        upload_path /
        root ressources/upload
        allow GET POST
        index /upload.html
        return 301 https://www.winxclubfrance.com/
    }
}

server {
    listen 8080
    server_name localhost
    root ressources
    client_max_body_size 1000000000
    cgi .py /usr/bin/python3
    cgi .php /usr/bin/php
    index /cyber.html
    autoindex off
    allow GET

    location /autoindex {
        root ressources
        autoindex on
        allow GET
    }

    location /autoindex/assets {
        root ressources/assets
        autoindex on
        allow GET
    }

    location /autoindex/ali_site {
        root ressources/ali_site/test_for_subject
        allow GET POST
        index /testmain.html
    }

    location /upload {
        upload_path /
        root ressources/upload
        allow GET POST
        index /upload.html
    }

    location /autoindex/upload {
        upload_path /
        root ressources/upload
        allow GET POST
        index /upload.html
    }

    location /autoindex/mlp {
        root ressources/mlp
        allow GET POST
        index /index.html
    }

    location /autoindex/errors {
        root ressources/default
        allow GET
        autoindex on
    }

    location /file_management {
        root ressources/file_management
        allow GET POST DELETE
        index /management.html
    }

    location /autoindex/file_management {
        root ressources/file_management
        allow GET POST DELETE
        index /management.html
    }

    location /autoindex/fireworks {
        root ressources/fireworks
        allow GET DELETE
        index /fireworks.html
    }

    location /autoindex/game {
        allow GET
        return 301 /autoindex/cgi/game_farmer/main.html
    }

    location /autoindex/dj_drogonj {
        root ressources/dj_drogonj
        allow GET
        index /disco.html
    }
}
