body {
    margin-left: 1.5vw;
    margin-top: 1.4vh;
    -webkit-user-select: none;
}

#character {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.square {
    width: 64px; /* Adjust the size of squares as needed */
    height: 64px;
    border: 1px solid #000;
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}